:root {
    --color-light-white: #DCCCA3;
    --color-light-green: #90AA86;
    --color-light-purple: #824C71;
    --color-dark-black: #000014;
    --color-dark-purple: #4A2545;
    --default-font-size: 16px;
    --default-font-family: Helvetica;
}


* {
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
    color: var(--color-light-white);
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    background-color: var(--color-dark-black);
}
